@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: w;
    src: url(./fonts/WanoQuin-ExtraBold.otf);
}


body{
    color: #fff;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    background-color: #141414;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;
    position: fixed;
    top: 0;
    width: 100vw;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    z-index: 1000;
}

.navbar span{
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 50px;
    background: linear-gradient(90deg , transparent , #f15b03);
    animation: animate 5s infinite linear;
}


@keyframes animate {
    0%{
        left: 0;
        transform: translate(-100%);
    }
    100%{
        left: 100%;
        transform: translate(0%);
    }
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    font-size: 30px;
    cursor: pointer;
    font-family: w;
}
.logo img {
    width: 70px;
    margin: 0 10px;
}
.logo h1 {
    font-size: 30px;
    color: #f15b03;
}
.logo a {
    color: #f15b03;
}

li{
    list-style: none;
}

a{
    color: #fff;
    text-decoration: none;
}

.menu{
    display: flex;
    gap: 5rem;
    text-transform: uppercase;
    font-weight: 100;
}

.menu a:hover {
    color: #f15b03;
    font-weight: 500;
    transition: .4s;
    
}
.btn{
    font-weight: 900;
    text-transform: uppercase;
    color: #f15b03;
}



.wrapper{
    display: flex;
}

section{
    width: 100vw;
    flex-shrink: 0;
    overflow: hidden;
}

.video-section video{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    z-index: -2;
    position: relative;
}

.img-container{
    position: absolute;
    top:0;
    height: 100vh;
    width: 100vw;
}


.img{
    object-fit: cover;
    height: 100%;
    width: 100%;

}



.section{
    background-color: #141414;
    padding: 7rem;
}

.boxes-container{
    display: flex;
    flex-direction: column;
    gap: 8rem;
}

.columns{
    display: flex;
    gap: 1.5rem;
    position: relative;
}

.col img{
    object-fit: cover;
}


.col-1{
    display: flex;
    gap: 1.5rem;
    flex: 5;
}
.box1 .col-1 img:first-child{
    width: 150px;
    height: 180px;
    transform: translateY(-30px);
}

.box1 .col-1 img:nth-child(2){
    width: 380px;
    height: 430px;
}

.col-3{
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    flex-wrap: wrap;
    flex: 4;
}

.box1 .col-3 img:first-child{
    width: 320px;
    height: 170px;

}

.box1 .col-3 img:nth-child(2){
    width: 150px;
}
.box1 .col-3 img:nth-child(3){
    width: 200px;
    height: 200px;
}

.col-2{
    margin: auto;
    flex: 1.5;
    
}

.col-2 h1{
    font-family: w;
    font-size: 100px;
    color: #f15b03;
    text-transform: capitalize;
    position: absolute;
    top: 50px;
    left: 47%;
    z-index: 100;
}
.box1 .col-2 h1{
    top: 0;
    
}


.col-2 span{
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing:3px;
    opacity: .7;
}


.line{
    height: 1px;
    width: 50px;
    background-color: rgba(255, 255, 255, .1);
    margin: 2rem 0;
}

.text-box p{
    font-size: 12px;
    line-height: 1.9;
    padding-bottom: 1rem;
    opacity: .7;
    
}

.box2 .col-1 img:first-child{
    width: 200px;
    height: 250px;
    transform: translateY(200px);
}


.box2 .col-1 img:nth-child(2){
    height: 380px;
    width: 300px;
}
.box2 .col-3 img:nth-child(1){
    height: 300px;
    width: 220px;
}

.box2 .col-3 img:nth-child(2){
    width: 180px;
    height: 200px;
    align-self: flex-end;
}
.box2 .col-3 img:nth-child(3){
    width: 380px;
    height: 200px;
    transform: translateX(80px);
}


.box3 .col-1{
    display: flex;
    flex-wrap: wrap;
}

.box3 .col-1 img:nth-child(1){
    width: 200px;
    height: 280px;
    transform: translateX(30px);
    
    
}
.box3 .col-1 img:nth-child(2){
    width: 180px;
    height: 200px;
    margin-left: 80px;
    align-self: center;
    
}
.box3 .col-1 img:nth-child(3){
    width: 280px;
    height: 180px;
    
}
.box3 .col-1 img:nth-child(4){
    width: 250px;
    height: 180px;
    transform: translateY(-30px);
}

.box3 .col-3 img{
    width: 400px;
    height: auto;
}

footer{
    background-color: #141414;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 3rem;
    border-top: 1px solid rgba(255, 255, 255, .1);
}


.text-content{
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.title{
    font-family: w;
    width: 450px;
    position: relative;
    height: 110px;
    overflow: hidden;
}

.bg{
    font-size: 61px;
}

.sm{
    font-size: 35px;
    height: 40px;
}

.left{
    left: -25%;
}

.right{
    top: 50px;
    left: 75%;
}

.title span{
    position: absolute;
}

.n{
    z-index: -1;
    
    
}

.text-content p{
    transform: translateY(150px);
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 12px;
    font-weight: 300;
}
.txt-bottom {
    color: #f15b03;
    font-weight: bolder;
}
.v_container{
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* opacity: 0; */
}


.left-side{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 4rem;
    gap: 5rem;
}

.tv{
    font-family: w;
    display: flex;
    text-transform: capitalize;
}

.bottom{
    transform: translateY(70px);
    color: #f15b03;
}



.text-container{
    max-width: 450px;
}

.text-container p{
    padding-bottom: 1rem;
    line-height: 1.4;
    opacity: .8;
}


.right-side{
    margin: auto;
    width: 150px;
    height: 150px;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-color: rgba(255, 255, 255, .6);
    border-radius: 50%;
    position: relative;
}

.right-side p{
    position: absolute;
    top: 45%;
    left: -15%;
    text-transform: uppercase;
    font-size: 14px;
}

.fa-arrow-right-long{
    transform: translateX(20px);
    color: #f15b03;
}

/* Player */
.music-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
   
}
.musique {
    width: auto;
    padding: 30px;
    background: #1a1a1a;
    border: 1px solid #f15b03;
    box-sizing: border-box;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    
}
.musique img {
    width: 190px;
}
.info {
    color: #fff;
    margin-left: 30px; 
}
.info h1 {
    color: #db913b;
}
.info p {
    font-size: 20px;
    margin: 10px 0 10px;
}
.player {
    color: #f15b03;
}

/* Les regles */

.rule {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 110px;
}
.rule h1 {
    font-size: 60px;
    font-family: w;
    color: #f15b03;
}
.rule h2 {
    font-family: w;
    padding-bottom: 1rem;
}
.rule p {
    padding-bottom: 1rem;
    line-height: 1.4;
}

/* contact */
.inscription {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 2rem;
}
.contact-card {
    background-color: #252629;
    border-radius: 1rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    display: flex;
    max-width: 800px;
    border: 1px solid #e46d28;
    width: 100%;
    overflow: hidden;
    gap: 2rem;
}

.contact-info {
    flex: 1;
    background: linear-gradient(135deg, #f15b03 0%, #e46d28 100%);
    color: #000;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-info h2 {
    font-family: w;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #fff;
}
.contact-info p {
    font-size: 1rem;
    line-height: 1.5;
}
.contact-form {
    flex: 2;
    padding: 3rem;
    display: flex;
    flex-direction: column;
}
.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}
.contact-form h3 {
    font-family: w;
    color: #f15b03;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.input-group {
    position: relative;
    display: flex;
    flex-direction: column;
}
.input-group label {
    position: absolute;
    top: -0.70rem;
    left: 1rem;
    background-color: #252629;
    padding: 0 0.25rem;
    border-radius: 1.12rem;
    font-size: 0.875rem;
    color: #e46d28;
    transition: color 0.2s ease;
}
.input-group input {
    padding: 1rem;
    font-size: 1rem;
    border: 1px solid #d1d5db;
    border-radius: 0.5rem;
    outline: none;
}
.input-group input:focus {
    border-color: #f15b03;
}
.submit-btn {
    align-self: flex-start;
    margin-top: 1rem;
    padding: 0.75rem 1.5rem;
    font-size: 1.125rem;
    color: #141414;
    background: linear-gradient(135deg, #f15b03 0%, #e46d28 100%);
    border: 0.3px solid #000;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.3s;
}
.submit-btn:hover {
    background: #141414;
    color: #f15b03;
    border: 0.3px solid #f15b03;
}



.right-side{
    margin: auto;
    width: 150px;
    height: 150px;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-color: rgba(255, 255, 255, .6);
    border-radius: 50%;
    position: relative;
}

.right-side p{
    position: absolute;
    top: 45%;
    left: -15%;
    text-transform: uppercase;
    font-size: 14px;
}

.fa-arrow-right-long{
    transform: translateX(20px);
    color: #f15b03;
}




@media(max-width:700px) {
    .menu {
        display: none;
    }
    .logo img {
        margin: 0 90px;
    }
    .text-container {
         margin-top: 180px;
         margin-bottom: 90px;
    }
    .text-container p {
        margin-top: 20px;
    }
    .boxes-container {
        display: block;
        
    }
    .columns {
        display: block;
        gap: 15rem;
    }
    .col-2 h1 {
        font-size: 80px;
        left: 10%;
    }
    .contact-card {
        flex-direction: column;
        min-width: 580px;
    }
}
@media(max-width:550px) {
    .music-container {
    width: 100%;
    max-width: 380px;
   }
   .musique {
    display: block;
    justify-content: start;
    align-items: end;  
   }
   .contact-card {
    min-width: 480px;
   }
   .left {
    left: 1%;
   }
   .right {
    left: 58%;
   }
   .txt-bottom {
    margin-left: 50px;
    margin-top: -30px;
   }

}
@media(max-width:450px) {
    .title {
        height: 90px;
    }
    .sm {
        font-size: 30px;
        height: 30px;
    }
    .bg {
        font-size: 40px;
    }
    .left{
    left: 10%;
    }
   .right{
    top: 60px;
    left: 65%;
   }
   .txt-bottom {
    margin-left: 50px;
   }
}

@media(max-width:400px) {
    .logo img {
        margin: 0 20px;
    }
    .title {
        height: 90px;
    }
    .sm {
        font-size: 30px;
        height: 30px;
    }
    .bg {
        font-size: 40px;
    }
    .left{
    left: 10%;
    }
   .right{
    top: 60px;
    left: 65%;
   }
   .txt-bottom {
    margin-left: 50px;
   }
   .right-side {
    width: 100px;
    height: 100px;
    margin-left: -90%;
   }
   .right-side p {
    left: -10%;
   }
   .music-container {
    width: 100%;
    max-width: 380px;
   }
   .musique {
    display: block;
    justify-content: start;
    align-items: end;  
   }
   .contact-card {
    min-width: 380px;
   }
   
}

@media(max-width:350px) {
    
    .logo img {
        margin: 0 20px;
    }
    .btn {
        margin-right: 100px;
    }
     .title {
        height: 80px;
    }
    .sm {
        font-size: 30px;
        height: 30px;
    }
   
    .left{
    left: 16%;
    }
   .right{
    top: 60px;
    left: 55%;
   }
   .txt-bottom {
    margin-left: 40px;
   }
   .right-side {
    width: 100px;
    height: 100px;
    margin-left: -160%;
    margin-top: 210px;
   }
   .right-side p {
    left: -40%;
   }
   .text-container {
    margin-top: 110px;
    margin-right: 10px;
   }
   .music-container {
    width: 100%;
    min-width: 200px;
    
   }
   .contact-card {
    min-width: 310px;
   }
}